body {
  background-color: whitesmoke;
}

#form {
  background-color: gainsboro;
  border-radius: 4px;
}

span {
  font-weight: bolder;
}

#number {
  width: 90px;
  display: inline;
}

.divPassword {
  text-align: center;
  background-color: gainsboro;
  border-radius: 4px;
}

#password {
  width: 300px;
  display: inline;
  font-weight: bolder;
}

#btn2 {
  display: inline;
}

@media (max-width: 480px) {
  .form-check-inline {
    display: block;
  }
}


